* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    background-color: #333;
    padding: 10px 0;
    width: 600px;
    position: fixed;
    top: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;

}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #4CAF50;
}

section{
    max-width: 600px;
    min-height: 80vh;
}

.hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
}

.hero img {
    width: 200px;
    border-radius: 50%;
}

.hero .intro {
    max-width: 600px;
    text-align: justify;
}

.hero .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.about, .projects, .contact {
    padding: 50px 20px;
    text-align: justify;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
}
