body{
    background-image: url('../images/bg1.jpeg');
    background-color: black;
    color: #48ff00;
    font-family: "Orbitron", sans-serif;
    font-weight: 1200;
    font-style: normal;
    line-height: 1.6;
    font-size: smaller;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2{
    color: #ffcc00;
    text-align: center;
    font-family: "Sixtyfour", sans-serif;

}


b{
  text-decoration: underline white;
}

h3{
    color: #00ffdd;
}
h4{
  text-decoration: underline #00ffdd 2px; 
}
p{
    text-align: justify;
}





.menu-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    z-index: 1001;
}
.bar {
  height: 3px;
  background: #ffcc00;
  border-radius: 2px;
  transition: 0.3s;
}

.nav {
  padding-top: 3rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(#3a7c05fd, #649230f1, #e5ff0057);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  text-align: right;
  padding-right: 10%;
}

.nav a {
  font-size: x-large;
  width: 100%;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  transition: background 0.3s;
}

.nav a:hover {
  text-decoration: underline;
  color: #ffcc00;
}

/* Active state */
.nav.active {
  transform: translateX(0);
  width: 100%;
  height: 100vh;
}

/* Animate menu button into X */
.menu-btn.open .bar:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.menu-btn.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-btn.open .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

.section{
    margin-bottom: 1rem;
    padding: 0rem;
    min-height: 60vh;
    display: flex;
    align-items: center;
}

.card{
    border: #ffcc00 1px solid;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(27, 39, 26, 0.781);
    text-align: left;
    max-width: 600px;
    z-index: 1;

}
.link{
    color: #ffcc00;
    padding: 5px;
    font-size: small;
    font-weight: bold;
    border-radius: 0.5em;
}
.link:hover{
    color: greenyellow;
    text-decoration: underline;
}



.icons-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-evenly;
  align-items: flex-start;
}
.icon-container{
  width:120px;
  height: auto;
  flex-direction: column;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-container p{
  text-align: center;
}

.icon-container img{
  position: relative;
}
.icon{
  width: 100px;
  height: auto;
  border-radius: 15px;
}
.icon2{
  width: 30px;
  height: auto;
}






.project{
    font-size: 1.1em;
    padding-bottom: 4em;
    padding-bottom: 1em;
}

.project-image{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.project-image:hover{
    transform: scale(1.02);
    transition: transform 0.3s;
}

.project-description{
  overflow-y: hidden;
  height: 200px;
}
.show-more-btn {
  background-color: inherit;
  color: #00ffdd;
  border: dashed 1px;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
}
.show-more-btn:hover {
  color: #ffcc00;
  background-color: rgb(9, 17, 7);
}
.full-text {
  height: auto;
}

/* Modal (fullscreen overlay) */
.modal {
  display: none;
  position: fixed;
  z-index: 1003;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 105, 11);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

#caption {
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

/* Close button */
#close-btn {
  position: absolute;
  top: 0px;
  right: 49px;
  color: #ffcc00;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
#close-btn:hover {
  color: #ccc;
}