body{
 --rich-gold: #a0540a;
--geebung: #f3c550;
--brown-tumbleweed: #3c2e0d;
--fern-green: #4d743e;
--antique-bronze: #783a07;
--woodland: #3d5c2d;
--celtic: #112814;
--asparagus: #6b9e5a;
--fire: #be3a04;
--green-pea: #216254;
}